*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    outline: 0;
    
}

.fitpagamento{


    
}
.cont1{
    background-color: blue;
    width: 150px;
    height: 100px;
    margin-left: 10%;
}

.cont{
background-color: #fff;
width: 40%;
height: 500px;
border-width: 0.3px;
border-right-style: solid;
border-left-style: solid;
margin-left: 30%;
}

h1{
 margin-left: 4%;

    }

    .decoracao1{
        text-shadow: 4px 4px 2px #00993D;
        color: rgba(0, 0, 0, 0.80);
        font-family: Tourney;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 5px;
        text-decoration-line: line-through;
        text-transform: capitalize;


    }

    .decoracao2{
        color: rgba(0, 0, 0, 0.80);
        text-shadow: 4px 4px 2px #00993D;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #000;
        font-family: Tourney;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 28% */
        letter-spacing: 5px;
        text-decoration-line: underline;
        text-transform: capitalize;


    }

    .titulo{
    margin-left: 35%;

    }
   

    .subtitulo{
    font-size: 20px;
    text-shadow: 0.1em 0.1em gray;
    margin-left: 42%;

    }