:root{
    --background-color: #fff;
    --primary-color:  #0F6;
    --secondary-color: #fff;
    --tertiary-color: #000000;
    --hover-color:  #000;
    --primary-font:  Russo One; 
  
  
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.fitpagamento{


    
}

.cont{
background-color: #fff;
width: 40%;
height: 500px;
border-width: 0.3px;
border-right-style: solid;
border-left-style: solid;
margin-left: 30%;


}

.contpix{
    background-color: #fff;
    width: 100px;
    height: 40px;
    margin-left: 25%;
    position: absolute;
    margin-top: 100px;
    border: solid black 1px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 5px 10px 5px var(--primary-color);
}

.contdebito{
    background-color: #fff;
    width: 100px;
    height: 40px;
    margin-left: 15%;
    position: absolute;
    margin-top: 100px;
    border: solid black 1px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 5px 10px 5px var(--primary-color);
}

.contcredito{
    background-color: #fff;
    width: 100px;
    height: 40px;
    margin-left: 5%;
    position: absolute;
    margin-top: 100px;
    border: solid black 1px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 5px 10px 5px var(--primary-color);
}


.botaocomprar{
    color: var(--primary-color);
    background-color: var(--primary-color);
    width: 100px;
    height: 40px;
    margin-left: 75%;
    position: absolute;
    margin-top: 400px;

}

 .botao{
    width: 100px;
    height: 50px;
    margin-left: 70%;
    margin-top: 400px;
    border: solid 1px var(--primary-color);
    border-radius: 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.botao:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
}

.titulopagamento{
font-size: 20px;
 position: absolute;
 margin-left: 5%;
 margin-top: 30px;
 text-shadow: 0.1em 0.1em gray;

}

h1{
 margin-left: 4%;

    }

    .decoracao1{
        text-shadow: 4px 4px 2px #00993D;
        color: rgba(0, 0, 0, 0.80);
        font-family: Tourney;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 5px;
        text-decoration-line: line-through;
        text-transform: capitalize;


    }

    .decoracao2{
        color: rgba(0, 0, 0, 0.80);
        text-shadow: 4px 4px 2px #00993D;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #000;
        font-family: Tourney;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 28% */
        letter-spacing: 5px;
        text-decoration-line: underline;
        text-transform: capitalize;


    }

    .titulo{
    margin-left: 35%;

    }
   

    .subtitulo{
    font-size: 20px;
    text-shadow: 0.1em 0.1em gray;
    margin-left: 42%;

    }