:root{
    --corFundo: #ffff;
    --cor-primaria: #0F6;
    --cor-hover: #000;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: hidden;
    background-color: var(--corFundo);

   }

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:var(--cor-primaria);
    z-index: 999;

}

nav{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1920px;
height: 4rem;
padding:0 1rem;
margin: 0 auto;
z-index: 999;

}

.toogle_menu,
.close_menu{
    display: none;

}

.logo a{
font-size: 1.75rem;
font-weight: 700;
color: #000;

}

.nav_list{
display: flex;
}

.nav_item{
margin: 0 1.5rem;
padding: 1.4rem 0;

}

.nav_link{
 font-weight: 500;

}

.nav_link:hover{
color: var(--corFundo);
}

.dropdown_link{
display: flex;
align-items: center;
}

.dropdown_icon{
 font-size: 1rem;

}

.megamenu{
position: absolute;
width: 100%;
top: 0;
left: 0;
background-color: var(--corFundo);
display: flex;
justify-content: center;
border-radius: 0 0 20px 20px;
box-shadow: 0 23px 23px -21px black;
z-index: -99;
/*visibility: hidden;
opacity: 0;*/

}

